<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>皮皮美食網</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|IBM+Plex+Mono|Noto+Sans+TC|Pacifico"
    rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>

  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">

        <a class="navbar-brand" href="/">
          <img src="https://i.postimg.cc/JG2gFgJg/logo.png" width="30" height="30" class="d-inline-block align-top"
            alt="皮皮美食網">
          皮皮美食網
        </a>

        <div class="container-right">
          <form action="/search" class="form-inline d-inline-block">
            <div class="d-inline-block">
              <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" value="{{keyword}}"
                aria-label="Restaurant Name..." aria-describedby="search-button">
              <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
            </div>
          </form>
          <div class="d-inline-block">
            <a class="btn btn-primary d-inline-block ml-2" href="/restaurants/new">新增餐廳</a>

            {{#if isAuthenticated}}
            <a class="btn btn-danger d-inline-block ml-2" href="/users/logout">Logout</a>
            {{else}}
            <a class="btn btn-success d-inline-block ml-2" href="/users/login">Login</a>
            {{/if}}


          </div>
        </div>
      </div>
    </nav>

    <div class="banner"></div>
  </header>

  <!-- partial  -->

  {{{ body }}}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/javascripts/index.js"></script>
</body>

</html>