body {
  font-family: 'Gloria Hallelujah',
    cursive;
  font-family: 'IBM Plex Mono',
    monospace;
  font-family: 'Pacifico',
    cursive;
  font-family: 'Noto Sans TC',
    sans-serif;
  background: lightgoldenrodyellow;
}

header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 260px;
  background: #dddddd center center url('https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  filter: blur(3px);
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #c02f1c;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  height: 180px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#map {
  color: lightskyblue;
  font-size: 16px;
}

#map:hover {
  color: blue;
}

@media screen and (max-width: 992px) {

  .card img {
    height: 115px;
  }
}

@media screen and (max-width: 768px) {

  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {

  .card img {
    height: auto;
  }

}